@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    top: 20vh;
    left: 33vw;
    animation: opacity 0.75s 1;
}

@media (max-width: 480px) {
    .modal {
        top: 29vh;
        left: 11vw;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.blur {
    box-shadow: 4000px 4000px inset #000000a3;
}

.x-icon {
    position: absolute;
    right: 1.5em;
    top: 1.5em;
    cursor: pointer;
}

@keyframes opacity2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

#play-again {
    animation: opacity2 2s 1;
    transition: animation 2s ease-in-out;
}
